<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front-End Developer Test</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body data-ng-app="FedTestApp">
    <div class="header">
      <h1 class="main-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
    </div>
    <div class="container" data-ng-controller="MainFormController">
      <img class="banner" src="images/banner.jpg" alt="">
      <form class="main-form" name="mainForm" novalidate ng-submit="submit()">
        <h2 class="form-heading">Nibh Hendrerit Sodales</h2>
        <label class="input-label">
          First Name:
          <input class="input input-text" type="text" name="firstName" data-ng-model="firstName" required>
          <div data-field-error="mainForm.firstName" data-field-name="First Name"></div>
        </label>
        <label class="input-label">
          Last Name:
          <input class="input input-text" type="text" name="lastName" data-ng-model="lastName" required>
          <div data-field-error="mainForm.lastName" data-field-name="Last Name"></div>
        </label>
        <label class="input-label">
          Phone Number:
          <input class="input input-text" type="text" name="phone" data-ng-model="phone" required ui-mask="(999) 999-9999">
          <div data-field-error="mainForm.phone" data-field-name="Phone Number" data-mask-error="must be a valid phone number"></div>
        </label>
        <label class="input-label">
          Email Address:
          <input class="input input-text" type="email" name="email" data-ng-model="email" required>
          <div data-field-error="mainForm.email" data-field-name="Email"></div>
        </label>
        <div data-ng-show="educationLevels">
          <span class="input-label">Current Education Level:</span>
          <div data-field-error="mainForm.educationLevel" data-field-name="Education Level"></div>
          <label class="input-label input-radio-label" data-ng-repeat="level in educationLevels | orderBy:educationLevelOrder">
            <input class="input input-radio" type="radio" name="educationLevel" data-ng-value="level.key" data-ng-model="$parent.educationLevel" required>{{level.value}}
          </label>
        </div>
        <div class="actions">
          <button type="submit" class="form-submit">Request Information</button>
        </div>
      </form>
      <div class="content">
        <p>
          Aliquam sed nibh elit. Morbi non augue eu turpis dictum convallis sed et sapien.
          Donec ac pretium nisi. Cras ac erat ut nibh hendrerit sodales eget in orci. Duis
          pellentesque gravida orci ac ornare. In hac habitasse platea dictumst. Sed justo
          sapien, faucibus eu aliquet et, molestie quis orci.
        </p>
        <p>
          Vivamus pulvinar, felis sed porttitor luctus, ligula nisl hendrerit nibh, vitae
          lobortis massa odio at elit. Sed et felis metus, nec eleifend dui. Quisque eget
          semper eros. Etiam gravida lobortis nibh, vitae viverra velit rhoncus sodales.
        </p>
      </div>
    </div>
    <script src="scripts/app-0.0.0.min.js"></script>
    <script type="text/ng-template" id="partials/field-error.html">
      <div class="field-error" data-ng-class="{dirty: field.$dirty, invalid: field.$invalid, valid: field.$valid}">
        <ul class="field-error-list">
          <li class="field-error-list-item" data-ng-show="field.$error.required">{{fieldName}} is required.</li>
          <li class="field-error-list-item" data-ng-show="field.$error.mask">{{fieldName}} {{maskError}}</li>
          <li class="field-error-list-item" data-ng-show="field.$error.email">{{fieldName}} must be a valid email address</li>
        </ul>
    </div>
    </script>
  </body>
</html>
