 body {
  font: normal 14px/1.6em sans-serif;
  background: #eee url(../images/bg.png) top left repeat;
  color: #666;
  margin: 0;
}

.header {
  background-color: #586e75;
  padding: 40px 0;
  text-align: center;
  color: #fff;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  padding: 20px 29px;
  margin: -29px -29px 20px;
  text-align: center;
  background-color: #ddd;
  color: #586e75;
}

label {
  display: block;
  margin-bottom: .8em;
  color #222;
}

input[type=text] {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #93a1a1;
  box-sizing: border-box;
}

input[type=radio] {
  display: inline;
  width: inherit;
  padding: 5px;
}

.myLabel > label {
  margin-left: 15px;
  margin-bottom: 0px;
}

.actions button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #859901;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  /* Desktop Layout */

  .container {
    width: 960px;
    margin: 0 auto;
  }

  form {
    float: right;
    width: 300px;
    padding: 30px;
    margin: -280px 20px 0;
    background-color: #fff;
    position: relative;
    border: 1px solid #839496;
    box-shadow: 4px 4px 0 rgba(90,90, 90, .4);
  }

  .content {
    width: 520px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 720px) and (max-width: 960px) {
  /* Tablet Layout */

  .container {
    width: 720px;
    margin: 0 quto;
  }

  .container > .banner {
    width: 720px;
  }
}

@media screen and (max-width: 720px) {
  /* Mobile Layout */

}