 body {
  font: normal 14px/1.6em sans-serif;
  background: #eee url(../images/bg.png);
  color: #666;

}



h1 {
  margin: 0;
}


/*-------Form Validation Elements--------*/  
.block { display: block; }
form.cmxform label.error { display: none; }
.container-full {margin: 0 auto;width: 100%;} 
.error{color:#ff0000;}
/*-------Form Validation Elements--------*/ 

.container {

}

.spacer {
    margin-top: 20px;
}
legend {border-bottom:0px !important;}
.form-group{margin-bottom:4px !important;}
.input-group{margin-bottom:4px;}
.input-group-addon{border-radius:6px !important;padding:2px !important;background:red !important;}
.input-group-addon:last-child {border-bottom:0 !important;}
.rounded{border-radius:6px !important;}
.formz {padding:8px !important;}
.jumbotron {margin-bottom:0 !important;}
.header{background-color: #586e75 !important;color:#fff !important;}
.fullheight img{height:300px !important;}

form {
  background-color: #abb6ba;
  
}

h2 {
  margin:0;
  background-color: #ddd;
  color: #586e75;
}

label {

  color #222;
  font-size:14px;

}

legend label {

  color #222;
  font-size:14px;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #93a1a1;
  box-sizing: border-box;
}

.spacer-sm-white{height:20px;background:#fff;}
.input-group-addon{background-color:#fff !important;border:0 !important;border-bottom:1px solid #93a1a1 !important;}
.radio-input {width:30px;height:30px;display: block !important;float:left !important;padding-top:5px;}
.radio-label {display: block !important;float:left !important;padding-top:8px;}


.actions button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #859901;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}

.content {

}

